# Put valid data here and copy as .env
AWS_ACCOUNT_ID=140023362902
AWS_REGION=eu-north-1

VPS_ID=vpc-02aea7cec16b90af5
RDS_SECURITY_GROUP_ID=sg-043243a9fdf404b03
DB_HOST=shop.czki8iaoc6l8.eu-north-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=shop
DB_USERNAME=postgres
DB_PASSWORD='password'
